* {
    font-family: 'Roboto', sans-serif;
    margin: 0;  
}

.container{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align:left;
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
    gap: 30px;
}

main {
    max-width: 560px;
}


h1{
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

a{
    color:cornflowerblue
}

.meta-dados{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    /* gap: 10px; */
}

.legenda-imagem p {
    display: flex;
    flex-direction: column;
    gap: 300px;
    font-size: 14px;
}

.texto-cinza {
    color: #7d7d7d;
}

#barra-superior{
    width: 100%;
}

.nota{
    padding: 5px;
}

.gap-30{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
