*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.canada{ 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canada.vermelho{
    width: 25%;
    background-color: rgb(196, 0, 0)
}

.canada.branco{
    width: 50%;
    background-color: white;
}


.canada.branco img{
    width: 90%;
}